In [1]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.pipeline import Pipeline
import category_encoders as ce
from joblib import dump

# load dataset
data = pd.read_csv("/root/volume/SKL2SQL/dataset/US_Accidents_March23_train.csv")
X = data.drop('Severity', axis=1)
y = data['Severity']
binary_encoder_cols = ['Airport_Code']
frequency_encoder_cols = ['Zipcode']
onehot_encoder_cols = ['Source', 'Timezone', 'Country']
numerical_cols = ['Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Pressure(in)', 'Visibility(mi)']
udf_cols = ['Description', 'Start_Time', 'Weather_Condition']
X = X[binary_encoder_cols + frequency_encoder_cols + onehot_encoder_cols + numerical_cols + udf_cols]

# clean data
for col in X.columns:
    if len(X[col].isna().unique()) > 1:
        # X[col] = X[col].fillna(0)
        most_common_value = X[col].value_counts().idxmax()  # 获取每列中出现最多的值
        X[col].fillna(most_common_value, inplace=True)  # 使用最常见的值填充 NaN

In [2]:
binary_encoder = ce.BinaryEncoder(cols=binary_encoder_cols)
X = binary_encoder.fit_transform(X)
counter_encoder = ce.CountEncoder(cols=frequency_encoder_cols)
before = X[frequency_encoder_cols]
X = counter_encoder.fit_transform(X)
after = X[frequency_encoder_cols]
count_encode_map = pd.concat((before, after), axis=1)
count_encode_map.columns = ['before', 'after']
print(count_encode_map.groupby('before'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f84f025ef50>

In [5]:
cem = {}
for i in range(len(count_encode_map)):
    cem[count_encode_map.loc[i, 'before']] = count_encode_map.loc[i, 'after']
cem

{'75227': 439,
 '91607': 466,
 '45215': 193,
 '29169': 440,
 '94580-2454': 11,
 '11798-4413': 2,
 '30318-4407': 2,
 '33462': 312,
 '28262': 1763,
 '94607': 1802,
 '33778-3339': 2,
 '20755': 49,
 '10509-2327': 38,
 '90230': 1129,
 '49099-9166': 1,
 '32821-8031': 3,
 '78722': 293,
 '85006': 868,
 '91761': 3916,
 '23320-2605': 1,
 '32926': 350,
 '06076-3208': 1,
 '28205': 1401,
 '10512': 118,
 '95488': 15,
 '85286-6801': 1,
 '84116': 734,
 '36612': 48,
 '34234': 96,
 '19720-2381': 1,
 '96080-9728': 6,
 '33126': 1667,
 '61554': 107,
 '18974': 27,
 '60148': 534,
 '23005': 621,
 '49325-9621': 2,
 '55733': 63,
 '92833': 191,
 '29153-5018': 2,
 '33016': 1155,
 '61953': 13,
 '90640': 554,
 '94080-6510': 2,
 '97814': 427,
 '94558': 679,
 '43232-4808': 3,
 '95045': 338,
 '78753': 1300,
 '19720-3135': 91,
 '20744': 332,
 '70802': 1540,
 '77045-1237': 2,
 '44273-9371': 1,
 '90041-1727': 11,
 '28217-2155': 1,
 '95841': 920,
 '74105': 131,
 '50323': 83,
 '33166': 1563,
 '45417-1131': 1,
 '78731': 429,
 '85712-2806': 2,
 '33181': 555,
 '92801': 1273,
 '92308-5101': 1,
 '90670': 1248,
 '22580': 265,
 '36104': 365,
 '20901': 433,
 '37207': 1602,
 '85037': 300,
 '19468-1010': 2,
 '90033': 1803,
 '29607-4907': 2,
 '21117': 182,
 '70816-8322': 23,
 '28277': 1282,
 '78211': 120,
 '97739': 257,
 '22079': 1172,
 '38115': 79,
 '32839-2407': 56,
 '33312': 955,
 '80012-3400': 1,
 '97037': 289,
 '37211': 1408,
 '80110': 124,
 '55082-6133': 13,
 '84040': 41,
 '27545': 621,
 '78615': 14,
 '33175': 819,
 '36043': 66,
 '33713': 435,
 '27284-9173': 1,
 '11357': 333,
 '28078': 697,
 '48895': 61,
 '40223': 72,
 '90034': 985,
 '95942': 46,
 '20905': 30,
 '44056': 43,
 '27603-3553': 18,
 '24066': 272,
 '93531': 90,
 '48126': 251,
 '95376': 30,
 '23235': 216,
 '94579': 431,
 '55009': 101,
 '29640-9232': 1,
 '94024': 228,
 '28208': 1739,
 '77074-2206': 5,
 '78745-5737': 33,
 '35233': 211,
 '94544': 867,
 '29642': 86,
 '97203-4811': 1,
 '64138': 95,
 '07014': 163,
 '48189': 164,
 '27520-9232': 4,
 '22903': 343,
 '76306-4039': 1,
 '75243': 2050,
 '60047-8897': 7,
 '92011': 304,
 '90063': 805,
 '29316-7453': 1,
 '60007': 150,
 '06106': 269,
 '60614': 131,
 '43015-9320': 3,
 '33069': 459,
 '75229-5126': 1,
 '27609-5202': 4,
 '29406': 1089,
 '33063-7740': 1,
 '22032-2657': 1,
 '35125': 60,
 '98144-4640': 3,
 '55107': 270,
 '78753-3707': 3,
 '22554': 851,
 '63043': 186,
 '95648': 157,
 '39503-5928': 2,
 '90026': 734,
 '48505-3238': 1,
 '92706': 613,
 '95903': 6,
 '33130': 179,
 '28206': 1389,
 '92835': 236,
 '91604': 375,
 '33183': 1437,
 '60521': 251,
 '19611': 111,
 '31705-4344': 1,
 '93510-2402': 5,
 '29018': 449,
 '45459': 267,
 '48101': 268,
 '30032': 608,
 '40217': 90,
 '47334': 45,
 '92110': 914,
 '29605': 841,
 '30288': 144,
 '17522': 280,
 '94945': 413,
 '29405': 578,
 '92504': 473,
 '33617-7706': 4,
 '93444': 210,
 '75238': 1314,
 '90044-1725': 5,
 '97217': 799,
 '12144': 178,
 '19406-1339': 1,
 '99202-1418': 1,
 '32254': 610,
 '23503': 710,
 '70815-6464': 6,
 '97603': 177,
 '37763': 80,
 '47303-9534': 4,
 '55101': 596,
 '92868': 1203,
 '92677': 289,
 '92505': 496,
 '72015': 187,
 '32751': 309,
 '20774': 371,
 '34203-7876': 1,
 '77380': 116,
 '97885': 47,
 '08832': 163,
 '32086': 266,
 '43050-9461': 1,
 '32807': 782,
 '55104': 669,
 '32205': 411,
 '60642': 359,
 '22932': 99,
 '94549': 557,
 '29223': 1103,
 '33603': 301,
 '10472': 513,
 '19380': 256,
 '70118': 151,
 '92879': 1531,
 '68313': 12,
 '60618': 296,
 '70816-4560': 9,
 '90601-3937': 1,
 '90703': 1989,
 '56111': 19,
 '91706': 2974,
 '94587': 769,
 '93543-2746': 1,
 '33161': 495,
 '33309': 825,
 '32246-4156': 2,
 '33161-4754': 116,
 '30080': 280,
 '33150-2515': 1,
 '21703': 613,
 '77002': 600,
 '75134-1325': 1,
 '90805': 2043,
 '91724': 529,
 '19078': 121,
 '55121': 300,
 '91606': 221,
 '10536': 387,
 '27603-3543': 9,
 '94608': 1220,
 '55426': 483,
 '33009-2360': 7,
 '01810': 487,
 '33032-6526': 1,
 '27615': 548,
 '70805-4326': 1,
 '92128': 684,
 '92129': 303,
 '22031': 688,
 '55430': 874,
 '07927': 62,
 '77027': 973,
 '90278': 150,
 '93551': 473,
 '55033-9145': 1,
 '14606-5524': 2,
 '32712': 161,
 '24441-5020': 1,
 '22312': 460,
 '07024': 1443,
 '29907-1504': 15,
 '21207': 362,
 '46825': 21,
 '91740': 1319,
 '48111': 211,
 '23435-2657': 6,
 '91701': 222,
 '23452': 314,
 '37013-2760': 3,
 '45209-1954': 1,
 '32940': 362,
 '90248': 1905,
 '94545': 1273,
 '80221': 444,
 '85256': 500,
 '10533': 213,
 '70809-4533': 16,
 '17022': 117,
 '85901': 108,
 '85032': 263,
 '91748': 1586,
 '93304': 716,
 '20109-3133': 1,
 '80216': 1314,
 '90255-5735': 5,
 '33325': 341,
 '77020': 409,
 '20117-2915': 3,
 '84047-2928': 1,
 '33169': 2182,
 '22202': 868,
 '77034': 562,
 '28227': 720,
 '34442-2103': 1,
 '32725': 168,
 '29501': 429,
 '23117-2834': 2,
 '95682-9142': 1,
 '94510': 413,
 '17554': 72,
 '94402': 338,
 '10532': 306,
 '33186-1746': 55,
 '10994': 400,
 '95823': 1297,
 '29334-9794': 3,
 '20785': 383,
 '95678': 478,
 '91355': 712,
 '30291': 197,
 '90262': 1286,
 '77026': 547,
 '10541': 63,
 '28270-0714': 1,
 '23089': 228,
 '95245-9404': 3,
 '73013-3427': 11,
 '98136': 11,
 '78745': 842,
 '85016': 362,
 '29621-7807': 1,
 '33150': 1664,
 '45044': 53,
 '95340': 251,
 '32824': 916,
 '68108-3816': 2,
 '97818': 131,
 '52544': 5,
 '80204': 851,
 '30315': 1271,
 '32256': 1386,
 '60085-2081': 2,
 '95301-9602': 1,
 '73149': 215,
 '07033': 219,
 '08031': 731,
 '30034': 1020,
 '95608-1614': 2,
 '07081': 131,
 '91602': 844,
 '59901': 98,
 '90405': 87,
 '32807-4361': 13,
 '97504': 229,
 '28214': 968,
 '28216': 1542,
 '29169-3428': 8,
 '11232-2414': 11,
 '84306': 16,
 '55731-8207': 1,
 '74136': 242,
 '19010': 98,
 '38139': 4,
 '80222': 248,
 '23504': 260,
 '33455': 337,
 '07104': 197,
 '44110': 64,
 '60189-6654': 1,
 '34787': 702,
 '33173': 1037,
 '28328-9202': 1,
 '92404': 690,
 '64137': 450,
 '30097': 28,
 '73142': 129,
 '10033': 1062,
 '78258-7202': 1,
 '29550-9263': 1,
 '77003': 526,
 '28371': 36,
 '29611': 787,
 '34741-1208': 8,
 '90241': 993,
 '33186': 2483,
 '91436': 648,
 '78653': 868,
 '55744-6205': 1,
 '92553': 1042,
 '90221': 587,
 '92880': 1146,
 '27612-6221': 1,
 '60438': 256,
 '37914': 134,
 '56081-5657': 1,
 '85017': 187,
 '33172': 691,
 '34233': 254,
 '20740': 232,
 '06513': 145,
 '92618': 1305,
 '43204-1406': 2,
 '90027': 1662,
 '60630': 427,
 '75074': 324,
 '75240': 887,
 '94710': 1626,
 '29651-5404': 1,
 '07676': 59,
 '29407-2251': 1,
 '33189-1231': 49,
 '30062': 270,
 '84307-9759': 1,
 '92518-3010': 5,
 '97844': 108,
 '48034': 394,
 '33781-4407': 21,
 '33313-5802': 3,
 '21224': 842,
 '29210': 1853,
 '23221': 155,
 '30904-3931': 2,
 '07003-2945': 1,
 '21722': 80,
 '80031': 134,
 '33147-5805': 9,
 '73170': 146,
 '30168': 299,
 '96061': 55,
 '19046': 158,
 '70816-6037': 2,
 '02903': 862,
 '48420-9454': 19,
 '11758-2536': 1,
 '93292': 198,
 '33328': 33,
 '32303-3306': 2,
 '06382-1022': 2,
 '97470': 355,
 '92093': 100,
 '02129': 179,
 '63125': 101,
 '23320': 751,
 '28213': 978,
 '68138-3817': 1,
 '95116': 1068,
 '60523': 701,
 '94526': 528,
 '11575': 212,
 '48335': 129,
 '70809': 1460,
 '77018': 147,
 '30655': 24,
 '32809': 1110,
 '92344': 918,
 '33144': 523,
 '07114': 947,
 '90650-2519': 2,
 '70114': 167,
 '85653': 165,
 '34117': 102,
 '33193': 340,
 '95076-5443': 1,
 '90022-4007': 12,
 '15458-1118': 2,
 '85040': 388,
 '11749-5575': 1,
 '48235': 367,
 '98134': 622,
 '19335-2603': 2,
 '49544': 271,
 '97907': 508,
 '98092': 46,
 '92127': 237,
 '73107-6139': 19,
 '20041': 58,
 '24382': 296,
 '55439': 515,
 '78744': 1129,
 '15963': 52,
 '64105': 198,
 '41017': 312,
 '30909-3429': 2,
 '56303': 42,
 '93308': 1106,
 '75228': 1444,
 '90049': 1031,
 '29696-2818': 2,
 '95828-2806': 3,
 '38901': 7,
 '63301': 201,
 '19343': 35,
 '93555': 131,
 '37167': 153,
 '92108': 1951,
 '22192': 438,
 '91702-5103': 1,
 '84045-9608': 6,
 '90022-1606': 4,
 '90007': 1357,
 '29126': 75,
 '11568': 356,
 '97540': 90,
 '95562': 22,
 '77338-4116': 2,
 '91203': 349,
 '33034-4679': 3,
 '29150': 129,
 '97525': 193,
 '60126': 789,
 '92881': 671,
 '20121': 341,
 '70815': 578,
 '33907': 444,
 '28212-5768': 4,
 '23434': 173,
 '46220': 128,
 '51024-8910': 1,
 '92660': 118,
 '33178': 969,
 '85264': 76,
 '91745-1404': 9,
 '70819': 82,
 '48532-2404': 5,
 '06103': 464,
 '78751': 254,
 '37604-6569': 2,
 '93219': 247,
 '33781-3143': 5,
 '19355-1877': 1,
 '44115': 239,
 '97701': 181,
 '94015': 433,
 '45309': 42,
 '33442': 214,
 '94403': 722,
 '90012': 2063,
 '70115': 75,
 '10314-1502': 1,
 '95828': 445,
 '77032-1514': 2,
 '34761': 259,
 '29016': 247,
 '94546': 591,
 '17821': 117,
 '68138': 207,
 '29203': 1177,
 '55369': 587,
 '28203': 330,
 '37210': 1643,
 '85282': 1199,
 '77042-3341': 19,
 '48746-9246': 3,
 '77385': 142,
 '17601': 1087,
 '27610-1606': 2,
 '77003-5107': 3,
 '66106': 289,
 '91301': 396,
 '32771': 521,
 '29927': 257,
 '77035': 241,
 '34208-4053': 1,
 '14605-1530': 7,
 '45417': 514,
 '29544-8441': 1,
 '23322-2462': 2,
 '21771-5903': 1,
 '32097': 257,
 '35242': 278,
 '11238-2726': 1,
 '11553': 112,
 '23224-1907': 1,
 '90280': 526,
 '84129-1500': 17,
 '33604': 435,
 '75235': 158,
 '60015-4753': 5,
 '78611-1051': 1,
 '19426-2801': 2,
 '64106': 743,
 '31302': 52,
 '85043': 1110,
 '24162': 26,
 '75209-6226': 10,
 '35490-2729': 1,
 '75075': 170,
 '27616': 972,
 '07032-4625': 14,
 '10589': 55,
 '32174': 368,
 '95351-9421': 4,
 '78741': 1049,
 '92113': 961,
 '10314': 508,
 '94520': 1310,
 '28269-8716': 3,
 '19027': 141,
 '30344': 336,
 '92675': 765,
 '92831': 536,
 '32095': 136,
 '07306': 397,
 '33014-6737': 22,
 '97882': 112,
 '60449': 36,
 '98011': 221,
 '80003': 26,
 '23323': 557,
 '77087-6430': 1,
 '11577': 411,
 '29210-5919': 45,
 '96014-9304': 1,
 '19090': 362,
 '90015': 1358,
 '29001': 123,
 '34142': 149,
 '10454': 515,
 '23227': 1238,
 '29670-9705': 1,
 '33936-6449': 2,
 '92844': 342,
 '90017': 469,
 '93036': 357,
 '97756': 283,
 '43015': 119,
 '80537': 56,
 '17538-1208': 1,
 '33406': 184,
 '92507': 2632,
 '64501': 2,
 '66062': 202,
 '73139': 201,
 '75201-2379': 1,
 '02919': 185,
 '71109-7812': 1,
 '10467': 237,
 '68105': 426,
 '60089': 264,
 '75247': 853,
 '37217': 1135,
 '77099': 362,
 '97232': 796,
 '92028': 954,
 '80239': 410,
 '55976': 84,
 '32114': 132,
 '63088': 85,
 '95205-7812': 2,
 '56308': 167,
 '29212-1951': 1,
 '60048-2820': 3,
 '63144': 64,
 '20037-1108': 1,
 '33167-2607': 13,
 '20187-9534': 1,
 '29349-8024': 18,
 '84074-9209': 4,
 '33168-3430': 12,
 '44125': 154,
 '37215-2123': 18,
 '30121-2227': 1,
 '33712': 423,
 '43537': 78,
 '21122-1214': 1,
 '33183-2804': 14,
 '95358-5607': 10,
 '14609': 222,
 '33173-4331': 49,
 '80112': 427,
 '33407': 301,
 '30312': 1512,
 '95354-4011': 2,
 '21206': 218,
 '28207-2581': 3,
 '91326': 323,
 '96044': 92,
 '23112': 365,
 '08879-1262': 1,
 '22025-1507': 4,
 '78701': 691,
 '29817': 20,
 '28273-6503': 10,
 '94555': 756,
 '49129': 25,
 '22939-3403': 2,
 '94080': 629,
 '31322-2114': 2,
 '29621-6034': 1,
 '33020': 1577,
 '97225': 415,
 '77074': 711,
 '11370': 111,
 '34207-3602': 16,
 '97703': 297,
 '33168': 1777,
 '33034': 262,
 '32221': 383,
 '95240-2414': 1,
 '97501': 163,
 '20175': 124,
 '30310': 537,
 '35806-1719': 31,
 '38049': 49,
 '11772': 87,
 '45502-1133': 1,
 '22407-2347': 1,
 '70122-1149': 2,
 '32608': 254,
 '95363': 325,
 '94303': 910,
 '29693-6117': 1,
 '36703': 17,
 '95490-9616': 4,
 '37421-8350': 1,
 '17512-8412': 1,
 '33170-4471': 3,
 '32209': 588,
 '64130': 170,
 '02141': 28,
 '22182-5237': 1,
 '01501-1901': 12,
 '77088': 264,
 '11783': 158,
 '36360-7121': 1,
 '94112': 456,
 '55038': 161,
 '55434': 115,
 '71106-5642': 1,
 '19462': 450,
 '34655-1864': 24,
 '23237': 483,
 '76137': 196,
 '93307': 1055,
 '19734-9526': 1,
 '95605': 158,
 '33544': 471,
 '12531': 85,
 '24014': 40,
 '23834-5931': 2,
 '95864': 291,
 '38111-2722': 1,
 '16841': 71,
 '10504': 184,
 '75150': 1219,
 '60440': 316,
 '97703-9188': 6,
 '75023': 40,
 '40505': 84,
 '59715': 452,
 '56431-4066': 2,
 '95050': 60,
 '93313': 205,
 '28785': 168,
 '46227': 419,
 '01752': 70,
 '56245-3067': 1,
 '34243-7964': 1,
 '32615': 217,
 '60074-0714': 1,
 '49202': 172,
 '32534-9343': 6,
 '14810': 13,
 '32807-3118': 26,
 '38582': 47,
 '70118-3067': 1,
 '98108-3313': 4,
 '91752': 1557,
 '29720': 152,
 '84631': 275,
 '17834-1225': 2,
 '85009': 1267,
 '17362-8565': 2,
 '14225': 500,
 '60195': 61,
 '32218': 1329,
 '85085': 196,
 '60447': 50,
 '17404': 315,
 '94551': 1896,
 '12590-7104': 1,
 '95823-2704': 4,
 '97478-9608': 4,
 '34683': 239,
 '92347': 34,
 '91750': 281,
 '98201': 252,
 '32764-9523': 1,
 '92397': 134,
 '94533': 967,
 '95205': 281,
 '90061-2708': 3,
 '48035': 134,
 '41129': 4,
 '34602': 179,
 '93560': 234,
 '43209': 151,
 '18372': 80,
 '92691': 718,
 '27105': 163,
 '32503': 228,
 '97031': 138,
 '75209': 145,
 '44035': 83,
 '91764': 1345,
 '94952': 761,
 '33170-2909': 3,
 '33912': 884,
 '48438-8858': 3,
 '20109': 792,
 '83442': 9,
 '29160': 243,
 '83642-2647': 1,
 '29526': 381,
 '29506': 309,
 '18104': 501,
 '07657': 164,
 '60561': 247,
 '55350-4801': 1,
 '95327-9783': 3,
 '94565': 1197,
 '27577': 71,
 '19805-4576': 2,
 '59648': 120,
 '91387': 607,
 '98144-2389': 1,
 '02126-3241': 1,
 '70122': 546,
 '97624-6749': 1,
 '21234': 322,
 '53214': 418,
 '95313': 60,
 '49348': 61,
 '29631-3205': 4,
 '06053': 99,
 '94107': 719,
 '12508-1478': 5,
 '55423': 888,
 '90021-2816': 1,
 '94806-3912': 10,
 '98155': 196,
 '92114': 263,
 '84123': 956,
 '77017': 773,
 '49534': 61,
 '32351-4115': 3,
 '91748-1376': 22,
 '29687-3533': 1,
 '90022-5451': 15,
 '93637': 614,
 '91773': 1050,
 '12189': 378,
 '11224': 24,
 '28395': 94,
 '92592': 284,
 '70817': 203,
 '36562': 15,
 '19014-3110': 1,
 '94130': 810,
 '30319-1312': 1,
 '85745': 230,
 '27539-7703': 4,
 '19520': 19,
 '84660': 451,
 '60803': 129,
 '19335': 363,
 '91342': 1950,
 '32757': 92,
 '84025': 305,
 '08234': 150,
 '98106-1008': 2,
 '25813': 19,
 '77094': 273,
 '92886': 42,
 '97005-1816': 2,
 '95531': 117,
 '38544': 13,
 '33173-4112': 23,
 '78750-3105': 2,
 '80233': 322,
 '77098-1904': 1,
 '95033-9110': 60,
 '60018': 444,
 '39503': 109,
 '70130-1709': 2,
 '95603': 394,
 '85730-1640': 1,
 '12308-2104': 1,
 '02199-7826': 1,
 '29654-9216': 3,
 '20817': 781,
 '95665-9512': 3,
 '33315': 938,
 '45150-1901': 2,
 '55744-8961': 2,
 '71203': 6,
 '90745': 994,
 '24435': 70,
 '22180': 384,
 '95370': 162,
 '07047': 332,
 '28209': 275,
 '17814': 12,
 '23229-5426': 3,
 '01860': 27,
 '60607': 548,
 '70808': 1518,
 '34655-5001': 2,
 '85710-8809': 2,
 '93561-77ND': 1,
 '29303': 1042,
 '98520': 24,
 '33771-2312': 4,
 '93701': 328,
 '95819': 367,
 '37210-3707': 15,
 '90068': 923,
 '28273': 1107,
 '91731': 794,
 '56636-2898': 1,
 '30331': 1052,
 '98547': 3,
 '77040': 598,
 '29745-9649': 10,
 '37210-3101': 2,
 '34221-9701': 6,
 '77074-2845': 1,
 '33928': 537,
 '22827': 34,
 '33186-1748': 19,
 '64125': 80,
 '20155': 165,
 '12196-2801': 5,
 '63131': 388,
 '97524-9432': 4,
 '85301-5405': 14,
 '70816-4360': 2,
 '85022-1666': 1,
 '36610-3403': 1,
 '60015': 216,
 '17876': 45,
 '29483-2522': 3,
 '78705': 295,
 '10029': 184,
 '70116-3110': 1,
 '95824': 430,
 '95961': 138,
 '33054': 896,
 '48223': 431,
 '45663': 1,
 '12205': 841,
 '08031-2405': 2,
 '33194': 95,
 '46774': 38,
 '92832': 82,
 '33184': 320,
 '07104-3733': 3,
 '22664': 129,
 '62703': 26,
 '94065-1063': 2,
 '90606': 1364,
 '37210-2109': 19,
 '21502': 114,
 '19106': 242,
 '84036-9506': 1,
 '33132': 473,
 '20147': 413,
 '77080-3906': 5,
 '75227-8114': 3,
 '28803': 245,
 '90047': 211,
 '97633-3320': 2,
 '38127-5070': 2,
 '35204': 433,
 '30024': 209,
 '32817-4108': 4,
 '27616-3191': 6,
 '77062': 80,
 '21918-1401': 1,
 '28625': 199,
 '70806-5875': 2,
 '20906': 157,
 '33144-4814': 28,
 '95448': 190,
 '90022': 1171,
 '95138': 414,
 '70809-1961': 1,
 '91801-5417': 1,
 '29649-9229': 1,
 '46201-2047': 2,
 '91790': 653,
 '91770': 501,
 '34207-5805': 7,
 '33913': 959,
 '32804': 727,
 '91011': 434,
 '70126': 715,
 '94063': 669,
 '95949-6627': 1,
 '93664': 82,
 '34601-4524': 2,
 '99204': 53,
 '94597': 804,
 '28173-8320': 1,
 '26554': 100,
 '79855': 11,
 '30328': 451,
 '37209-2313': 1,
 '91103': 671,
 ...}

In [6]:
len(cem)

393507

In [11]:
l = [[k, v] for k, v in cem.items()]

In [13]:
l = pd.DataFrame(l)
l

                 0    1
0            75227  439
1            91607  466
2            45215  193
3            29169  440
4       94580-2454   11
...            ...  ...
393502  27606-1173    1
393503  13478-3012    1
393504  85040-3618    1
393505  20902-2831    1
393506  96022-9626    1

[393507 rows x 2 columns]

In [14]:
l.to_csv('/root/volume/SKL2SQL/dataset/US_Accidents_March23_train_zipcode_counter.csv',index=False,header=False)